:root {
    --pong-color: #e0e0e0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: black;
}

#pong {
    border: 10px solid var(--pong-color);
}
