:root {
    --pong-color: #ccd5ae;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: var(--pong-color);
}

#pong {
    background-color: black;
}
